*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @media (max-width: 767px) {
        &.no-js {
            margin-top: 0!important;
        }
    }
}

body {
    position: relative;
    &.logged-in {
        @media (min-width: 767px) {
            header {
                top: 32px;
            }
        }
    }
}

@media (max-width: 767px) {
    #wpadminbar {
        display: none!important;
    }
}

body,
input,
textarea,
button {
    font-family: $textFont;
    @include font-size($fontSize);
}

ul li {
    list-style: none;
}