// COLORS
$primaryColor: #02a3cc;
$secondaryColor: #1c1f27; 
$terciaryColor:#303030;
$titleColor: $primaryColor;
$textColor: white;
$borderColor: #344b69;

// FONTS
$fontBase: 'Lato',
sans-serif;
$textFont: $fontBase;
$fontSize: 16px;
$lineHeight: 130%;

// FONTS - WEIGHT
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontBold: 700;

// SPACING
$gap: 15px;

//screen sizes
$screen-xl: 1200px;
$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 576px;