.btn {
	background-color: transparent;
	color: $textColor;
	display: block;
	font-weight: $fontLight;
	text-align: center;
	padding: 5px 35px;
	border: 0;
	cursor: pointer;
	line-height: 20px;
	@include font-size(13px);
	@include transition();
	@include border-radius(0);
	&--sm {
		padding: 5px 10px;
	}
	&--white {
        color: white;
    }
    &--primaryColor {
        color: $primaryColor;
    }
    &--secondaryColor {
        color: $secondaryColor;
    }
    &--bgWhite {
        background: white;
    }
    &--bgRed {
        background: #ca3535;
    }
	&--bgPrimaryColor {
		background: $primaryColor;
	}
	&--bgSecondaryColor {
		background: $secondaryColor;
	}
	&:hover {
		opacity: .8;
	}
}