.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: $screen-sm) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: $screen-md) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: $screen-lg) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: $screen-xl) {
    .container {
        max-width: 1200px;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}