.header {
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $secondaryColor;
    @include flexbox();
    @include align-items(center);
    &__logo {
        position: relative;
        height: 64px;
        width: 195px;
        padding: 15px 0 15px 14px;
        background-color: $terciaryColor;
    }
}
