.app {
    min-height: 100vh;
    background: #0e0e0e;
    padding: 120px 0;
}
.tools {
    padding: 0 35px 10px;
    &__actions {
        background: $secondaryColor;
        padding: 12px 10px 10px;
        &__search {
            @include flexbox();
            @include align-items(center);
            input[type="search"] {
                background: black;
                color: white;
                font-weight: $fontLight;
                border: 0;
                padding: 0 13px;
                width: 270px;
                height: 35px;
                @include font-size(13px);
                @include placeholder(white);
            }
            label {
                color: white;
                font-weight: $fontLight;
                cursor: pointer;
                line-height: 48px;
                margin-left: 25px;
                @include font-size(13px);
                @include flexbox();
                @include align-items(center);
                input[type="checkbox"] {
                    margin-right: 10px;
                }
            }
        }
    }
    &__listItens {
        margin-top: 10px;
        background: $secondaryColor;
        &__single {
            padding: 15px 20px;
            border-bottom: 1px solid $borderColor;
            h2 {
                display: block;
                margin-bottom: 15px;
                a {
                    color: $primaryColor;
                    font-weight: $fontRegular;
                    text-decoration: none;
                    @include font-size(22px);
                }
            }
            p {
                color: white;
                font-weight: $fontLight;
                line-height: 48px;
                @include font-size(15px);
            }
            &__removeItem {
                width: 30px;
                overflow: hidden;
                @include transition();
                span {
                    margin-left: 11px;
                }
                &:hover {
                    width: 90px;
                }
            }
            &__tags {
                color: $primaryColor;
                @include font-size(14px);
                &__tag {
                    color: $primaryColor;
                    padding: 5px 10px;
                    margin-right: 10px;
                    border: 1px solid $primaryColor;
                    @include border-radius(15px);
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}