.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    &__content {
        background: $secondaryColor;
        position: relative;
        padding: 15px 35px;
        max-width: 767px;
        width: 100%;
        &__close {
            position: absolute;
            right: -19.25px;
            top: -19.25px;
            cursor: pointer;
        }
        h2 {
            color: $primaryColor;
            font-weight: $fontRegular;
            text-decoration: none;
            margin-bottom: 35px;
            @include font-size(22px);
        }
        p {
            color: white;
            font-weight: $fontLight;
            line-height: 48px;
            @include font-size(15px);
            span{
                color: $primaryColor;
            }
        }
        form {
            @include flexbox();
            @include flex-direction(column);
            @include align-items(center);
            label {
                color: white;
                font-weight: $fontLight;
                line-height: 33px;
                width: 100%;
                margin-bottom: 15px;
                @include font-size(15px);
                input:not(.btn) {
                    width: 100%;
                    background: black;
                    color: white;
                    font-weight: $fontLight;
                    border: 0;
                    padding: 0 13px;
                    height: 35px;
                    @include font-size(13px);
                    @include placeholder(white);
                }
            }
        }
    }
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        position: absolute;
        background: rgba(#0e0e0e, .7);
    }
}